html { 
	background: url('obrazek.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
}

.text-container {
	max-width: 960px;
	position: absolute;
	top: 200;
	left: 70;
}
 
h1 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 156px;
	text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}